extends layout

block content
  h1= title
  -
    let items  = results
  div(class= "container-fluid")
    div(class = "row")
      each item,index in items
        div(class= "col-sm-2", onclick=`buy(${index})`) Brand: #{item.dress_brand}
        div(class= "col-sm-2", onclick=`buy(${index})`) Size: #{item.dress_size}
        div(class= "col-sm-2", onclick=`buy(${index})`) Cost: #{item.dress_cost}
        br
        br
        
  script.
    function buy(itemNum){
      alert(`You purchased item ${itemNum+1}`)
    }