extends layout
block content
    h1= title
 
    - let dressid = toShow._id
    - let dress_brand = toShow.dress_brand
    - let dress_size = toShow.dress_size
    - let dress_cost = toShow.dress_cost
    div
        div.row
            div(class='dressAttr mr-3') dress Id is: #{dressid}
            br
        div.row
            div(class='dressAttr mr-3') dress Brand is: #{dress_brand}
            br
        div.row
            div(class='dressAttr mr-3') dress Size is: #{dress_size}
            br
        div.row
            div(class='dressAttr mr-3') dress Cost is: #{dress_cost}