extends layout
block content
    h1= title
 
    if (toShow == null)
        h2 No instance to delete
    else
        - let dressid = toShow._id
        - let dress_brand = toShow.dress_brand
        - let dress_quantity = toShow.dress_quantity
        - let dress_cost = toShow.dress_cost
        - let actionid = "/resource/dress/" + dressid
 
        script let actionid = "#{actionid}"
        div
            div.row
                div(class='dressAttr mr-3') dress ID is:
                div #{dressid}
            div.row
                div(class='dressAttr mr-3') dress Brand is:
                div #{dress_brand}
            div.row
                div(class='dressAttr mr-3') Dress Quantity is:
                div #{dress_quantity}
            div.row
                div(class='dressAttr mr-3') Dress Cost is:
                div #{dress_cost}
        br
        br
        button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
        button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
   
    script.
        function cancel() {
        // Go back to the home page for the costume collection
            window.location.href='/dress'
        }
 
    script.
        function deleteOnid() {
            console.log("starting delete")
            // delete first
            fetch(actionid, { method: 'DELETE' // Don't need a body for the delete
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Delete succeded")
                window.location.href='/dress'
                // TODO handle body
            }).catch((error) => {
                // TODO handle error
                alert("Delete failed " + error )
            });
        }