extends layout
 
block content
  h1= title
  -
    let items  = results
  div(class= "container-fluid")
    div(class = "row m-1")
      each item,index in items
        - let destination = `dispatch(\"/dress/update?id=${item._id}\")`
        div(class="row-sm-2", class="m-1") Item #{item.dress_brand}(#{item.dress_size}) is #{item.dress_cost}
        br
        br
        button.btn( class="btn-primary ml-1", onclick= destination) Update
       
  script.
    function dispatch(path){
      window.location.href=path
    }